In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('calendar.csv')

In [3]:
df

       calday  calmonth        day
0    20230101    202301    Domingo
1    20230102    202301      Lunes
2    20230103    202301     Martes
3    20230104    202301  Miercoles
4    20230105    202301     Jueves
..        ...       ...        ...
846  20250426    202504     Sabado
847  20250427    202504    Domingo
848  20250428    202504      Lunes
849  20250429    202504     Martes
850  20250430    202504  Miercoles

[851 rows x 3 columns]

In [26]:
df_clean_calday = df.copy()

In [ ]:
# Convertir a datetime y luego extraer componentes calday
df_clean_calday['calday_format'] = pd.to_datetime(df['calday'], format='%Y%m%d')
df_clean_calday['año'] = df_clean_calday['calday_format'].dt.year
df_clean_calday['mes'] = df_clean_calday['calday_format'].dt.month
df_clean_calday['día'] = df_clean_calday['calday_format'].dt.day

In [23]:
df_clean_calmonth = df.copy()

In [25]:
# Convertir a datetime y luego extraer componentes de calmonth
df_clean_calmonth['calmonth'] = pd.to_datetime(df['calmonth'], format='%Y%m')
df_clean_calmonth['año'] = df_clean_calmonth['calmonth'].dt.year
df_clean_calmonth['mes'] = df_clean_calmonth['calmonth'].dt.month