In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import calendar

In [ ]:
'''
Tabla de ventas con año y mes
Este script carga un archivo CSV con datos de ventas mensuales, extrae el año y el mes de una columna de fecha,
'''
df_sales_month = pd.read_csv('sales.csv')
df_sales_month['calmonth'] = pd.to_datetime(df_sales_month['calmonth'], format='%Y%m')
df_sales_month['year'] = df_sales_month['calmonth'].dt.year
df_sales_month['month'] = df_sales_month['calmonth'].dt.month
# df_sales_month = df_sales_month.drop(columns=['calmonth'])
df_sales_month

,cooler_id,customer_id,calmonth,amount,year,month
0,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2025-03-01,76.8887,2025,3
1,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2024-12-01,131.0627,2024,12
2,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2024-07-01,180.8420,2024,7
3,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2025-02-01,82.3243,2025,2
4,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2023-10-01,201.7541,2023,10
...,...,...,...,...,...,...
204731,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2025-04-01,1244.2283,2025,4
204732,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-06-01,1829.9476,2023,6
204733,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-04-01,396.8060,2023,4
204734,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2024-06-01,1818.3142,2024,6
204735,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-09-01,1444.7187,2023,9

In [ ]:
'''
Tabla de ventas por cliente
Este script agrupa los datos de ventas por cliente, calculando el total de ventas y el número de enfriadores únicos por cliente.
'''
import pandas as pd

df_sales_month = pd.read_csv('sales.csv')
df_sales_month['calmonth'] = pd.to_datetime(df_sales_month['calmonth'], format='%Y%m')
df_sales_month['year'] = df_sales_month['calmonth'].dt.year
df_sales_month['month'] = df_sales_month['calmonth'].dt.month

# Agrupar por customer_id
df_customers = df_sales_month.groupby('customer_id').agg(
    total_amount=('amount', 'sum'),
    coolers_per_customer=('cooler_id', 'nunique')
).reset_index()

# Ordenar por total_amount de mayor a menor
df_customers = df_customers.sort_values(by='total_amount', ascending=False)

df_customers.head()

,customer_id,total_amount,coolers_per_customer
3181,798b848f4d378ec7b852731242ff87992d887953149726...,1.270383e+06,1
5654,dccbe339a93d0edf234e7a2e9f666c51e8e98f79a02f83...,1.129673e+06,2
4055,9cdd7f590855940073cc14d4e14e82f0deb97c487cf73c...,9.909471e+05,4
5021,c41c6aa34bbf063215dcca7858fd1cc6a62c01072ea567...,7.943036e+05,6
3432,8307133d45165ffe43f4dee589fffaf6fdbf1993e63a5f...,5.658122e+05,2