In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import calendar

In [ ]:
'''
Tabla de ventas con año y mes
Este script carga un archivo CSV con datos de ventas mensuales, extrae el año y el mes de una columna de fecha,
'''
df_sales_month = pd.read_csv('sales.csv')
df_sales_month['calmonth'] = pd.to_datetime(df_sales_month['calmonth'], format='%Y%m')
df_sales_month['year'] = df_sales_month['calmonth'].dt.year
df_sales_month['month'] = df_sales_month['calmonth'].dt.month
# df_sales_month = df_sales_month.drop(columns=['calmonth'])
df_sales_month

,cooler_id,customer_id,calmonth,amount,year,month
0,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2025-03-01,76.8887,2025,3
1,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2024-12-01,131.0627,2024,12
2,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2024-07-01,180.8420,2024,7
3,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2025-02-01,82.3243,2025,2
4,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2023-10-01,201.7541,2023,10
...,...,...,...,...,...,...
204731,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2025-04-01,1244.2283,2025,4
204732,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-06-01,1829.9476,2023,6
204733,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-04-01,396.8060,2023,4
204734,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2024-06-01,1818.3142,2024,6
204735,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-09-01,1444.7187,2023,9

In [6]:
'''
Tabla de ventas por cliente
Este script agrupa los datos de ventas por cliente, calculando el total de ventas y el número de enfriadores únicos por cliente.
'''
import pandas as pd

df_sales_month = pd.read_csv('sales.csv')
df_sales_month['calmonth'] = pd.to_datetime(df_sales_month['calmonth'], format='%Y%m')
df_sales_month['year'] = df_sales_month['calmonth'].dt.year
df_sales_month['month'] = df_sales_month['calmonth'].dt.month

# Agrupar por customer_id
df_customers = df_sales_month.groupby('customer_id').agg(
    total_amount=('amount', 'sum'),
    coolers_per_customer=('cooler_id', 'nunique')
).reset_index()

# Ordenar por total_amount de mayor a menor
df_customers = df_customers.sort_values(by='total_amount', ascending=False)

df_customers.head()

,customer_id,total_amount,coolers_per_customer
3181,798b848f4d378ec7b852731242ff87992d887953149726...,1.270383e+06,1
5654,dccbe339a93d0edf234e7a2e9f666c51e8e98f79a02f83...,1.129673e+06,2
4055,9cdd7f590855940073cc14d4e14e82f0deb97c487cf73c...,9.909471e+05,4
5021,c41c6aa34bbf063215dcca7858fd1cc6a62c01072ea567...,7.943036e+05,6
3432,8307133d45165ffe43f4dee589fffaf6fdbf1993e63a5f...,5.658122e+05,2

In [ ]:
'''
Tabla de enfriadores con advertencias
Este script carga un archivo CSV con datos de advertencias de enfriadores y los asocia con los clientes que los compraron.
'''
# Cargar los datos
df_warnings = pd.read_csv('warnings.csv')          # Contiene solo cooler_id
df_customers = pd.read_csv('sales.csv')            # Contiene cooler_id y customer_id

# Asociar los cooler_id con customer_id
coolers_with_warning = pd.merge(
    df_warnings,
    df_customers[['cooler_id', 'customer_id']],
    on='cooler_id',
    how='left'
)

# Eliminar duplicados en caso de múltiples ventas por cooler
coolers_with_warning = coolers_with_warning.drop_duplicates()

# Mostrar los resultados
df_coolers_damaged = coolers_with_warning.copy()
df_coolers_damaged

In [20]:
df_coolers = pd.read_csv('coolers.csv')  # Contiene cooler_id y otros detalles
df_cooler_with_warnings = df_coolers[df_coolers['cooler_id'].isin(df_coolers_damaged['cooler_id'])]
df_filtro_sin_warnings = df_coolers[~df_coolers['cooler_id'].isin(df_coolers_damaged['cooler_id'])]

# Mostrar el resultado filtrado
df_cooler_with_warnings
df_filtro_sin_warnings

,cooler_id,door_opens,open_time,compressor,power,on_time,min_voltage,max_voltage,temperature,calday
0,767436ca4a132715e8fe6cff5ad1f2facbf0584aafd715...,28.0,1.0,32.6042,108.5000,24.0,84.0,120.0,5.2854,20241103
1,767436ca4a132715e8fe6cff5ad1f2facbf0584aafd715...,13.0,1.0,35.0313,75.1667,16.0,94.0,120.0,4.8938,20241104
2,767436ca4a132715e8fe6cff5ad1f2facbf0584aafd715...,23.0,1.0,37.1633,126.3333,24.0,84.0,118.0,4.8449,20241102
3,767436ca4a132715e8fe6cff5ad1f2facbf0584aafd715...,37.0,1.0,21.3750,66.5833,24.0,78.0,118.0,5.2896,20250126
4,767436ca4a132715e8fe6cff5ad1f2facbf0584aafd715...,22.0,0.0,22.4681,67.8333,23.5,96.0,118.0,5.2426,20250125
...,...,...,...,...,...,...,...,...,...,...
335211,062126a4a13cb049fa75dab39c58edeaeadbde972917b3...,122.0,53.0,38.3958,187.5000,24.0,118.0,126.0,4.6625,20250228
335212,062126a4a13cb049fa75dab39c58edeaeadbde972917b3...,92.0,34.0,25.1458,127.3333,24.0,118.0,126.0,3.8688,20250227
335213,062126a4a13cb049fa75dab39c58edeaeadbde972917b3...,97.0,25.0,24.1667,123.7500,24.0,116.0,126.0,3.8333,20250226
335214,062126a4a13cb049fa75dab39c58edeaeadbde972917b3...,113.0,40.0,25.7500,129.1667,24.0,118.0,126.0,3.8729,20250225
335215,062126a4a13cb049fa75dab39c58edeaeadbde972917b3...,101.0,24.0,24.4468,120.5833,23.5,114.0,126.0,3.8277,20250430