In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import calendar

In [ ]:
'''
Tabla de ventas con año y mes
Este script carga un archivo CSV con datos de ventas mensuales, extrae el año y el mes de una columna de fecha,
'''
df_sales_month = pd.read_csv('sales.csv')
df_sales_month['calmonth'] = pd.to_datetime(df_sales_month['calmonth'], format='%Y%m')
df_sales_month['year'] = df_sales_month['calmonth'].dt.year
df_sales_month['month'] = df_sales_month['calmonth'].dt.month
# df_sales_month = df_sales_month.drop(columns=['calmonth'])
df_sales_month

,cooler_id,customer_id,calmonth,amount,year,month
0,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2025-03-01,76.8887,2025,3
1,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2024-12-01,131.0627,2024,12
2,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2024-07-01,180.8420,2024,7
3,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2025-02-01,82.3243,2025,2
4,42d9b14c937541b8f1287ce7251d1e29f1f8eb58dbcd7e...,e21b830bc395b5a355f68a698c55ad95474f929d8e2521...,2023-10-01,201.7541,2023,10
...,...,...,...,...,...,...
204731,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2025-04-01,1244.2283,2025,4
204732,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-06-01,1829.9476,2023,6
204733,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-04-01,396.8060,2023,4
204734,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2024-06-01,1818.3142,2024,6
204735,661cc6a46677515e7801eda42d84b6242778a9d77f6062...,021ce98d216fdee3533129eb75d956978858eade78d6a4...,2023-09-01,1444.7187,2023,9

In [6]:
'''
Tabla de ventas por cliente
Este script agrupa los datos de ventas por cliente, calculando el total de ventas y el número de enfriadores únicos por cliente.
'''
import pandas as pd

df_sales_month = pd.read_csv('sales.csv')
df_sales_month['calmonth'] = pd.to_datetime(df_sales_month['calmonth'], format='%Y%m')
df_sales_month['year'] = df_sales_month['calmonth'].dt.year
df_sales_month['month'] = df_sales_month['calmonth'].dt.month

# Agrupar por customer_id
df_customers = df_sales_month.groupby('customer_id').agg(
    total_amount=('amount', 'sum'),
    coolers_per_customer=('cooler_id', 'nunique')
).reset_index()

# Ordenar por total_amount de mayor a menor
df_customers = df_customers.sort_values(by='total_amount', ascending=False)

df_customers.head()

,customer_id,total_amount,coolers_per_customer
3181,798b848f4d378ec7b852731242ff87992d887953149726...,1.270383e+06,1
5654,dccbe339a93d0edf234e7a2e9f666c51e8e98f79a02f83...,1.129673e+06,2
4055,9cdd7f590855940073cc14d4e14e82f0deb97c487cf73c...,9.909471e+05,4
5021,c41c6aa34bbf063215dcca7858fd1cc6a62c01072ea567...,7.943036e+05,6
3432,8307133d45165ffe43f4dee589fffaf6fdbf1993e63a5f...,5.658122e+05,2

In [11]:
'''
Tabla de enfriadores con advertencias
Este script carga un archivo CSV con datos de advertencias de enfriadores y los asocia con los clientes que los compraron.
'''
# Cargar los datos
df_warnings = pd.read_csv('warnings.csv')          # Contiene solo cooler_id
df_customers = pd.read_csv('sales.csv')            # Contiene cooler_id y customer_id

# Asociar los cooler_id con customer_id
coolers_with_warning = pd.merge(
    df_warnings,
    df_customers[['cooler_id', 'customer_id']],
    on='cooler_id',
    how='left'
)

# Eliminar duplicados en caso de múltiples ventas por cooler
coolers_with_warning = coolers_with_warning.drop_duplicates()

# Mostrar los resultados
df_coolers_damaged = coolers_with_warning.copy()

In [13]:
df_coolers = pd.read_csv('coolers.csv')  # Contiene cooler_id y otros detalles
df_nuevo_filtrado = df_coolers[df_coolers['cooler_id'].isin(df_coolers_damaged['cooler_id'])]

# Mostrar el resultado filtrado
df_nuevo_filtrado

,cooler_id,door_opens,open_time,compressor,power,on_time,min_voltage,max_voltage,temperature,calday
3487,8c23cc35a965e01affe215db22e5be71b86189f4d6f9c0...,NaN,0.0,NaN,NaN,24.0,NaN,NaN,NaN,20240605
3488,8c23cc35a965e01affe215db22e5be71b86189f4d6f9c0...,147.0,68.0,54.6458,180.7500,24.0,118.0,132.0,8.4250,20240601
3489,8c23cc35a965e01affe215db22e5be71b86189f4d6f9c0...,0.0,0.0,70.8571,33.2500,3.5,128.0,132.0,6.1286,20240602
3490,8c23cc35a965e01affe215db22e5be71b86189f4d6f9c0...,147.0,62.0,68.7708,222.6667,24.0,118.0,132.0,7.3000,20240531
3491,8c23cc35a965e01affe215db22e5be71b86189f4d6f9c0...,0.0,0.0,60.9792,190.6667,24.0,118.0,132.0,5.7271,20240517
...,...,...,...,...,...,...,...,...,...,...
317772,69a502ea2c89a5f61d16ce534026afa43727a85dc6433b...,24.0,1.0,81.2500,153.0000,24.0,112.0,122.0,6.6146,20240611
317773,69a502ea2c89a5f61d16ce534026afa43727a85dc6433b...,5.0,0.0,69.7353,94.3333,17.0,110.0,120.0,7.5912,20240612
317774,69a502ea2c89a5f61d16ce534026afa43727a85dc6433b...,36.0,0.0,94.0417,177.2500,24.0,114.0,122.0,8.2000,20240607
317775,69a502ea2c89a5f61d16ce534026afa43727a85dc6433b...,28.0,0.0,72.1042,135.7500,24.0,114.0,122.0,7.0562,20240609
317776,69a502ea2c89a5f61d16ce534026afa43727a85dc6433b...,25.0,1.0,78.1702,143.6667,23.5,2.0,124.0,6.7574,20240608